# Enable Bzlmod for every Bazel command
common --enable_bzlmod
# common --lockfile_mode=off
common --registry=https://raw.githubusercontent.com/judeharis/bazel-central-registry/main/
# common --registry=file:///home/jude/Workspace/SECDA/bazel-central-registry/